#Data manipulation

## EDA Tiller System

### Import des librairies et des data

a) Ajoutez la librairie `ypandas_profiling` à votre environnement et importez les librairies suivantes :

In [2]:
from collections import Counter
import json

import pandas as pd
from ydata_profiling import ProfileReport

c:\Users\pouss\Documents\GitHub\DataTouka\explo_env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

b) Normalement vous avez déjà téléchargé les données [order_data](https://drive.google.com/file/d/1X5uXVFrl7SuMUKe7CJaiCmGEOhokorh2/view?usp=sharing) et [order_line](https://drive.google.com/file/d/1G7Jbq_m-tJrHRhL-44j8XFOVs_zPil_9/view?usp=sharing).

c) Importez ces données dans 2 dataframes order_data et order_line

In [3]:
order_data = pd.read_csv('order_data.csv')
order_line = pd.read_csv('order_line.csv')

C:\Users\pouss\AppData\Local\Temp\ipykernel_19872\3960782183.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  order_data = pd.read_csv('order_data.csv')

### Valeurs manquantes

d) En utilisant la fonction info, regarder le nombre de valeurs manquantes par colonne de votre dataframe order_data

In [7]:
order_data.info()
order_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117304 entries, 0 to 117303
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_order        117304 non-null  int64
 1   id_store        117304 non-null  int64
 2   id_table        21917 non-null   float64
 3   id_waiter       57377 non-null   float64
 4   id_customer     1867 non-null    float64
 5   id_external     117232 non-null  object
 6   id_device       108906 non-null  float64
 7   date_opened     117304 non-null  object
 8   date_closed     117304 non-null  object
 9   dim_name        56553 non-null   object
 10  dim_status      117304 non-null  object
 11  dim_type        117304 non-null  int64
 12  dim_comment     94 non-null      object
 13  dim_source      117303 non-null  object
 14  m_nb_customer   117304 non-null  int64
 15  m_cached_payed  117304 non-null  float64
 16  m_cached_price  117304 non-null  float64
dtypes: float64(6), int64(4), object(7)
memory usage: 15.2+ MB

,id_order,id_store,id_table,id_waiter,id_customer,id_external,id_device,date_opened,date_closed,dim_name,dim_status,dim_type,dim_comment,dim_source,m_nb_customer,m_cached_payed,m_cached_price
0,55538867,8052,NaN,NaN,NaN,0425716B-EFF4-41CA-AEA1-839104F36833,15327.0,2019-01-12 13:02:17 UTC,2019-01-12 19:58:38 UTC,vincent,CLOSED,1,NaN,Tiller iPAD,1,45.5,45.5
1,56035309,8052,NaN,NaN,NaN,75E41FE2-64FF-41D3-954C-A7DE4AA887EF,15327.0,2019-01-16 19:39:09 UTC,2019-01-16 22:10:50 UTC,frere et soeur avec pierre,CLOSED,1,NaN,Tiller iPAD,2,49.8,49.8
2,55550051,8052,NaN,NaN,NaN,F6051A05-C9AC-4033-BF72-BB5149B8F439,15327.0,2019-01-12 14:18:46 UTC,2019-01-12 19:50:32 UTC,rachel,CLOSED,1,NaN,Tiller iPAD,1,27.4,27.4
3,57000119,8052,NaN,16199.0,NaN,B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62,15327.0,2019-01-24 17:49:12 UTC,2019-01-24 21:58:59 UTC,Groupe PEL,CLOSED,1,NaN,tiller-order,3,60.0,60.0
4,55558817,8052,NaN,NaN,NaN,17F0533C-2FF1-4FC5-A50D-12704C7B7A4B,15327.0,2019-01-12 15:25:06 UTC,2019-01-12 19:21:03 UTC,remi et date,CLOSED,1,NaN,Tiller iPAD,2,39.9,39.9

e) En utilisant cette fois-ci la fonction isnull(), calculez le pourcentage de lignes nulles par colonne de votre datafrale order_data

In [11]:
nul_df = order_data.isnull()
counts_nul = nul_df.apply(lambda x: x.value_counts(), axis=0)
prop_nul = counts_nul.apply(lambda x: x/len(order_data))
counts_nul.head()
prop_nul.head()

,id_order,id_store,id_table,id_waiter,id_customer,id_external,id_device,date_opened,date_closed,dim_name,dim_status,dim_type,dim_comment,dim_source,m_nb_customer,m_cached_payed,m_cached_price
False,1.0,1.0,0.186839,0.489131,0.015916,0.999386,0.928408,1.0,1.0,0.482106,1.0,1.0,0.000801,0.999991,1.0,1.0,1.0
True,NaN,NaN,0.813161,0.510869,0.984084,0.000614,0.071592,NaN,NaN,0.517894,NaN,NaN,0.999199,0.000009,NaN,NaN,NaN

f) Comment pouvez-vous expliquer qu'il y ait autant d'id_customer à null ?

Les ID customer proviennent sans doute de restaurants/cafés qui ont un système de fidélité et donc d'inscription, à défaut les customer ne s'identifieront pas, même si ils viennent régulièrement.

g) Créez un sous-dataframe qui ne contient que les lignes id_customer non nulles ? Vous pouvez utiliser l'opérateur `~`

In [12]:
order_data_without_nul_cust_ids = order_data[~nul_df['id_customer']]
order_data_without_nul_cust_ids.head()

,id_order,id_store,id_table,id_waiter,id_customer,id_external,id_device,date_opened,date_closed,dim_name,dim_status,dim_type,dim_comment,dim_source,m_nb_customer,m_cached_payed,m_cached_price
173,133891746,8283,NaN,16793.0,1673951.0,C4F34FB9-6DA1-45A1-95B6-107896E528CA,NaN,2020-07-21 10:36:18 UTC,2020-07-21 10:48:32 UTC,A6,CLOSED,1,NaN,tiller-order,1,30.9,30.9
174,135443933,8283,NaN,16793.0,2274880.0,FB13A7D7-EF75-4F89-8FE0-A65D98848F20,NaN,2020-07-30 16:17:39 UTC,2020-07-30 16:18:23 UTC,A9,CLOSED,1,NaN,tiller-order,1,32.7,32.7
179,132658768,8283,NaN,16793.0,1739179.0,67F9BCE7-E36D-4694-8238-08119AE1B766,NaN,2020-07-13 13:16:48 UTC,2020-07-13 13:17:11 UTC,A11,CLOSED,1,NaN,tiller-order,1,19.9,19.9
183,56148970,4337,NaN,NaN,1240617.0,2098522,NaN,2019-01-17 17:39:43 UTC,2019-01-17 17:49:01 UTC,MD 2098522 (18:41),CLOSED,1,Delivery,RestoIn,0,23.8,23.8
190,114066972,8283,NaN,16793.0,1887406.0,B166821F-F0B5-46C8-9354-ADCEBB9C56D1,NaN,2020-01-21 15:50:41 UTC,2020-01-21 15:51:38 UTC,A22,CLOSED,1,NaN,tiller-order,1,31.7,31.7

### Statistiques descriptives

h) Quel est le prix moyen d'une commande ? médian ?  minimum ? maximum ?

In [13]:
mean_order_price = order_data['m_cached_price'].mean()
median_order_price = order_data['m_cached_price'].median()
max_order_price = order_data['m_cached_price'].max()

print(f'Customers have ordered an average of {mean_order_price}, with the median being {median_order_price}, and an astounding {max_order_price} maximum !')

Customers have ordered an average of 38.29895135715748, with the median being 14.1, and an astounding 11512.5 maximum !

i) Utiliser la fonction describe pour avoir plus de statistiques descriptives

In [14]:
order_data.describe()

,id_order,id_store,id_table,id_waiter,id_customer,id_device,dim_type,m_nb_customer,m_cached_payed,m_cached_price
count,1.173040e+05,117304.000000,21917.000000,57377.000000,1.867000e+03,108906.000000,117304.000000,117304.000000,117304.000000,117304.000000
mean,9.048923e+07,4984.865094,152108.643154,8236.912439,1.904323e+06,11238.597662,1.000051,1.379569,38.294191,38.298951
std,2.534697e+07,2575.888310,75645.829300,6996.091208,2.777842e+05,4577.871932,0.010114,1.154009,111.246970,111.242410
min,5.430422e+07,360.000000,3199.000000,472.000000,1.206843e+06,129.000000,1.000000,0.000000,0.000000,0.000000
25%,6.897573e+07,1796.000000,113481.000000,2418.000000,1.653653e+06,7411.000000,1.000000,1.000000,11.800000,11.800000
50%,8.522710e+07,4542.000000,166328.000000,2418.000000,1.843156e+06,10820.000000,1.000000,1.000000,14.100000,14.100000
75%,1.091576e+08,7965.000000,198340.000000,16793.000000,2.126142e+06,15733.000000,1.000000,1.000000,30.000000,30.000000
max,1.505256e+08,9084.000000,288083.000000,18911.000000,2.783146e+06,17755.000000,3.000000,62.000000,11512.500000,11512.500000

La colonne dim_comment

j) Quel est le mode de la colonne dim_name ?

In [15]:
print(order_data['dim_name'].mode())

0    A1
Name: dim_name, dtype: object

k) [Plus difficile] Dans quelle boutique a eu lieu la commande avec le plus de produits commandés ? Combien de produits au total ?

In [21]:
max_order_size = order_data['m_nb_customer'].idxmax()
max_order_shop_id = order_data.loc[max_order_size, 'id_store']
print(max_order_shop_id)

9084

### Analyses temporelles

l) Convertissez les colonnes `date_opened` et `date_closed` en format datetime

m) En utilisant la fonction set_index, mettez en index du dataframe la colonne date_opened (déjà en format datetime)

n) A partir de là toutes les fonctionnalités de date sont à votre disposition !!

En utilisant la fonction resample calculez la somme perçue de tous les restaurateurs par semaine.

o) On veut plutôt l'avoir par semaine et par restaurant, modifiez le code précédent.

Note : resample vient après le groupby ...

p) Finalement on le souhaite par quarter, modifiez le code précédent pour obtenir le résultat. Vous pourrez stocker le résultat dans un dataframe quarter_results.

Vous pouvez consulter [cette page](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects) pour voir toutes les options possibles de la fonction resample.

Pratique non ?

q) Etudiez la fonction [pct_change](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html) de pandas et calculez l'évolution du CA par restaurant par quarter dans une nouvelle colonne.

r) Quel est le restaurant avec l'évolution par quarter le plus important sur ces donnnées ? Pour quel quarter ?

### Tableaux croisés dynamiques

s) Sur les données d'order, regardez toutes les modalités de dim_source par occurence

t) Remplacer les autres valeurs que "Tiller iPAD", "tiller-order" et "LAFOURCHETTE" par "Other". Utilisez la fonction loc avec un mask utilisant la fonction .isin.

u) En utilisant la fonction pivot_table, calculez le CA généré par restaurant en lignes et par dim_source en colonne. Vous pourrez utiliser la fonction fillna pour remplacer les valeurs nulles par 0.

On utilisera un reset_index également pour remonter les id_store comme colonnes

v) [Bonus] Reprenez le dataframe précédent et faites redescendre toutes les dim_source dans une nouvelle colonne avec la fonction melt

## Pandas profiling

Il existe des librairies en Python pour faciliter encore plus l'exploration de données.

`pandas-profiling` en est une ! Regardez cet article qui en détaille ses possibilités.

w) Téléchargez la librairie `pandas-profiling` dans votre environnement et générez un rapport des données de commandes order_data.

x) A partir de ce fichier généré : répondez aux questions suivantes :
- Quel est le pourcentage de valeurs manquantes ?
- Combien il y a-t'il de variables numériques ? catégorielles ? Est-ce que ces chiffres vous paraissent cohérents ? Il y a-t'il des points d'attentions à soulever ?
- Quel est le pourcentage de données ayant comme valeur "tiller-order" dans la colonne "dim_source" ?
- À combien est le cofficient de skewness pour la variable  m_nb_customer ?

y)  Grâce à la méthode to_json du report, stockez ce json dans un dictionnaire Python en exécutant le code ci-dessous

In [ ]:
profile_json = json.loads(profile_report.to_json())

z) Déterminez quelle est la variable ayant le coefficient de kurtosis le plus élevé

# Text Processing

a_bis) Le champ `id_external` suit dans la quasi totalité des cas le pattern suivant X-X-X-X-X, où X correspond a une chaîne de caractères d'une certaine longueur et composée de lettres ainsi que de chiffres.
Déterminez combien de lignes dans ce dataframe ne suivent pas ce pattern ?

b_bis) [Difficile] L'équipe sécurité vous annonce qu'il y a une faille informatique dans le système d'enregistrement des commandes et que certaines commandes sont corrompues.
Voici les caractèristiques permettant de déterminer si une commande est corrompue :
- Le champ a évalué est le champ `external id`
- Ce champ suit le pattern X-X-X-X-X, où X correspond a une chaîne de caractères d'une certaine longueur
- X contient strictement plus de chiffres que de lettres

Filtrez votre jeu de données afin de ne garder uniquement les commandes corrompues. Combien en trouvez-vous ?