#Data manipulation

## EDA Tiller System

### Import des librairies et des data

a) Ajoutez la librairie `ypandas_profiling` à votre environnement et importez les librairies suivantes :

In [1]:
from collections import Counter
import json

import pandas as pd
from ydata_profiling import ProfileReport

c:\Users\pouss\Documents\GitHub\DataTouka\explo_env\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

b) Normalement vous avez déjà téléchargé les données [order_data](https://drive.google.com/file/d/1X5uXVFrl7SuMUKe7CJaiCmGEOhokorh2/view?usp=sharing) et [order_line](https://drive.google.com/file/d/1G7Jbq_m-tJrHRhL-44j8XFOVs_zPil_9/view?usp=sharing).

c) Importez ces données dans 2 dataframes order_data et order_line

In [2]:
order_data = pd.read_csv('order_data.csv')
order_line = pd.read_csv('order_line.csv')

C:\Users\pouss\AppData\Local\Temp\ipykernel_13416\3960782183.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  order_data = pd.read_csv('order_data.csv')

### Valeurs manquantes

d) En utilisant la fonction info, regarder le nombre de valeurs manquantes par colonne de votre dataframe order_data

In [7]:
order_data.info()
order_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117304 entries, 0 to 117303
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id_order        117304 non-null  int64
 1   id_store        117304 non-null  int64
 2   id_table        21917 non-null   float64
 3   id_waiter       57377 non-null   float64
 4   id_customer     1867 non-null    float64
 5   id_external     117232 non-null  object
 6   id_device       108906 non-null  float64
 7   date_opened     117304 non-null  object
 8   date_closed     117304 non-null  object
 9   dim_name        56553 non-null   object
 10  dim_status      117304 non-null  object
 11  dim_type        117304 non-null  int64
 12  dim_comment     94 non-null      object
 13  dim_source      117303 non-null  object
 14  m_nb_customer   117304 non-null  int64
 15  m_cached_payed  117304 non-null  float64
 16  m_cached_price  117304 non-null  float64
dtypes: float64(6), int64(4), object(7)
memory usage: 15.2+ MB

,id_order,id_store,id_table,id_waiter,id_customer,id_external,id_device,date_opened,date_closed,dim_name,dim_status,dim_type,dim_comment,dim_source,m_nb_customer,m_cached_payed,m_cached_price
0,55538867,8052,NaN,NaN,NaN,0425716B-EFF4-41CA-AEA1-839104F36833,15327.0,2019-01-12 13:02:17 UTC,2019-01-12 19:58:38 UTC,vincent,CLOSED,1,NaN,Tiller iPAD,1,45.5,45.5
1,56035309,8052,NaN,NaN,NaN,75E41FE2-64FF-41D3-954C-A7DE4AA887EF,15327.0,2019-01-16 19:39:09 UTC,2019-01-16 22:10:50 UTC,frere et soeur avec pierre,CLOSED,1,NaN,Tiller iPAD,2,49.8,49.8
2,55550051,8052,NaN,NaN,NaN,F6051A05-C9AC-4033-BF72-BB5149B8F439,15327.0,2019-01-12 14:18:46 UTC,2019-01-12 19:50:32 UTC,rachel,CLOSED,1,NaN,Tiller iPAD,1,27.4,27.4
3,57000119,8052,NaN,16199.0,NaN,B8BEEC66-1C10-48A0-B4D5-035CB5EEFE62,15327.0,2019-01-24 17:49:12 UTC,2019-01-24 21:58:59 UTC,Groupe PEL,CLOSED,1,NaN,tiller-order,3,60.0,60.0
4,55558817,8052,NaN,NaN,NaN,17F0533C-2FF1-4FC5-A50D-12704C7B7A4B,15327.0,2019-01-12 15:25:06 UTC,2019-01-12 19:21:03 UTC,remi et date,CLOSED,1,NaN,Tiller iPAD,2,39.9,39.9

e) En utilisant cette fois-ci la fonction isnull(), calculez le pourcentage de lignes nulles par colonne de votre datafrale order_data

In [13]:
nul_df = order_data.isnull()
counts_nul = nul_df.value_counts()
print(counts_nul)

id_order  id_store  id_table  id_waiter  id_customer  id_external  id_device  date_opened  date_closed  dim_name  dim_status  dim_type  dim_comment  dim_source  m_nb_customer  m_cached_payed  m_cached_price
False     False     True      True       True         False        False      False        False        True      False       False     True         False       False          False           False             47871
                              False      True         False        False      False        False        False     False       False     True         False       False          False           False             39686
                    False     True       True         False        False      False        False        True      False       False     True         False       False          False           False              9203
                              False      True         False        False      False        False        False     False       False     True         False       False          False           False              5771
                    True      False      True         False        True       False        False        False     False       False     True         False       False          False           False              4984
                    False     False      True         False        False      False        False        True      False       False     True         False       False          False           False              3517
                                                                   True       False        False        False     False       False     True         False       False          False           False              1885
                              True       True         False        False      False        False        False     False       False     True         False       False          False           False              1529
                    True      False      False        False        True       False        False        False     False       False     True         False       False          False           False               974
                              True       True         False        False      False        False        False     False       False     True         False       False          False           False               765
                              False      False        False        False      False        False        False     False       False     True         False       False          False           False               531
                              True       False        False        True       False        False        False     False       False     True         False       False          False           False               254
                                         True         False        True       False        False        True      False       False     True         False       False          False           False               127
                                         False        False        True       False        False        False     False       False     False        False       False          False           False                94
                                         True         True         True       False        False        False     False       False     True         False       False          False           False                71
                              False      True         False        False      False        False        True      False       False     True         False       False          False           False                21
                              True       False        False        False      False        False        True      False       False     True         False       False          False           False                 6
                    False     False      True         False        True       False        False        True      False       False     True         False       False          False           False                 4
                              True       False        False        False      False        False        False     False       False     True         False       False          False           False                 3
                    True      True       True         False        True       False        False        False     False       False     True         False       False          False           False                 2
                    False     False      False        False        False      False        False        False     False       False     True         False       False          False           False                 2
                                                                   True       False        False        False     False       False     True         False       False          False           False                 2
                              True       False        False        False      False        False        True      False       False     True         False       False          False           False                 1
                    True      True       True         True         True       False        False        True      False       False     True         True        False          False           False                 1
Name: count, dtype: int64

f) Comment pouvez-vous expliquer qu'il y ait autant d'id_customer à null ?

g) Créez un sous-dataframe qui ne contient que les lignes id_customer non nulles ? Vous pouvez utiliser l'opérateur `~`

### Statistiques descriptives

h) Quel est le prix moyen d'une commande ? médian ?  minimum ? maximum ?

i) Utiliser la fonction describe pour avoir plus de statistiques descriptives

La colonne dim_comment

j) Quel est le mode de la colonne dim_name ?

k) [Plus difficile] Dans quelle boutique a eu lieu la commande avec le plus de produits commandés ? Combien de produits au total ?

### Analyses temporelles

l) Convertissez les colonnes `date_opened` et `date_closed` en format datetime

m) En utilisant la fonction set_index, mettez en index du dataframe la colonne date_opened (déjà en format datetime)

n) A partir de là toutes les fonctionnalités de date sont à votre disposition !!

En utilisant la fonction resample calculez la somme perçue de tous les restaurateurs par semaine.

o) On veut plutôt l'avoir par semaine et par restaurant, modifiez le code précédent.

Note : resample vient après le groupby ...

p) Finalement on le souhaite par quarter, modifiez le code précédent pour obtenir le résultat. Vous pourrez stocker le résultat dans un dataframe quarter_results.

Vous pouvez consulter [cette page](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects) pour voir toutes les options possibles de la fonction resample.

Pratique non ?

q) Etudiez la fonction [pct_change](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html) de pandas et calculez l'évolution du CA par restaurant par quarter dans une nouvelle colonne.

r) Quel est le restaurant avec l'évolution par quarter le plus important sur ces donnnées ? Pour quel quarter ?

### Tableaux croisés dynamiques

s) Sur les données d'order, regardez toutes les modalités de dim_source par occurence

t) Remplacer les autres valeurs que "Tiller iPAD", "tiller-order" et "LAFOURCHETTE" par "Other". Utilisez la fonction loc avec un mask utilisant la fonction .isin.

u) En utilisant la fonction pivot_table, calculez le CA généré par restaurant en lignes et par dim_source en colonne. Vous pourrez utiliser la fonction fillna pour remplacer les valeurs nulles par 0.

On utilisera un reset_index également pour remonter les id_store comme colonnes

v) [Bonus] Reprenez le dataframe précédent et faites redescendre toutes les dim_source dans une nouvelle colonne avec la fonction melt

## Pandas profiling

Il existe des librairies en Python pour faciliter encore plus l'exploration de données.

`pandas-profiling` en est une ! Regardez cet article qui en détaille ses possibilités.

w) Téléchargez la librairie `pandas-profiling` dans votre environnement et générez un rapport des données de commandes order_data.

x) A partir de ce fichier généré : répondez aux questions suivantes :
- Quel est le pourcentage de valeurs manquantes ?
- Combien il y a-t'il de variables numériques ? catégorielles ? Est-ce que ces chiffres vous paraissent cohérents ? Il y a-t'il des points d'attentions à soulever ?
- Quel est le pourcentage de données ayant comme valeur "tiller-order" dans la colonne "dim_source" ?
- À combien est le cofficient de skewness pour la variable  m_nb_customer ?

y)  Grâce à la méthode to_json du report, stockez ce json dans un dictionnaire Python en exécutant le code ci-dessous

In [ ]:
profile_json = json.loads(profile_report.to_json())

z) Déterminez quelle est la variable ayant le coefficient de kurtosis le plus élevé

# Text Processing

a_bis) Le champ `id_external` suit dans la quasi totalité des cas le pattern suivant X-X-X-X-X, où X correspond a une chaîne de caractères d'une certaine longueur et composée de lettres ainsi que de chiffres.
Déterminez combien de lignes dans ce dataframe ne suivent pas ce pattern ?

b_bis) [Difficile] L'équipe sécurité vous annonce qu'il y a une faille informatique dans le système d'enregistrement des commandes et que certaines commandes sont corrompues.
Voici les caractèristiques permettant de déterminer si une commande est corrompue :
- Le champ a évalué est le champ `external id`
- Ce champ suit le pattern X-X-X-X-X, où X correspond a une chaîne de caractères d'une certaine longueur
- X contient strictement plus de chiffres que de lettres

Filtrez votre jeu de données afin de ne garder uniquement les commandes corrompues. Combien en trouvez-vous ?